HELP.md
!backend/.mvn/wrapper/maven-wrapper.jar

##Docker##


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
backend/.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!backend/src/main/**/build/
!backend/src/test/**/build/

### VS Code ###
backend/.vscode/

# Project exclude paths
/backend/target/